<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Account</title>
  <link rel="stylesheet" type="text/css" href="css/myaccount.css">
</head>

<body>
  <%-include('header')-%>

    <div class="container pIHdXn">
      <div class="kul4">
        <div class="AmWkJQ"><a class="_1O4r" href="/user/account/profile">
            <div class="shopee-avatar">
              <div class="shopee-avatar__placeholder"><svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0"
                  y="0" class="shopee-svg-icon icon-headshot">
                  <g>
                    <circle cx="7.5" cy="4.5" fill="none" r="3.8" stroke-miterlimit="10"></circle>
                    <path d="m1.5 14.2c0-3.3 2.7-6 6-6s6 2.7 6 6" fill="none" stroke-linecap="round"
                      stroke-miterlimit="10"></path>
                  </g>
                </svg></div><img class="shopee-avatar__img" src="">
            </div>
          </a>
          <div class="miwGmI">
            <div class="mC1Llc">luntrng263</div>
            <div><a class="_78QHr1" href="/user/account/profile"><svg width="12" height="12" viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg" style="margin-right: 4px;">
                  <path d="M8.54 0L6.987 1.56l3.46 3.48L12 3.48M0 8.52l.073 3.428L3.46 12l6.21-6.18-3.46-3.48"
                    fill="#9B9B9B" fill-rule="evenodd"></path>
                </svg>Sửa hồ sơ</a></div>
          </div>
        </div>
        <div class="rhmIbk">
          <div class="stardust-dropdown">
            <div class="stardust-dropdown__item-header"><a class="L1U02e" href="/user/voucher-wallet">
                <div class="bfikuD"><img
                    src="https://down-vn.img.susercontent.com/file/sg-11134004-23020-p3d1nfjslknvc9">
                </div>
                <div class="DlL0zX"><span class="adF7Xs">Ưu đãi dành riêng cho bạn</span></div>
              </a></div>
            <div class="stardust-dropdown__item-body" style="opacity: 0;">
              <div class="Yu7gVR"><a class="FEE-3D" href="/user/voucher-wallet"><span class="qyt-aY">Kho voucher của
                    bạn</span></a><a class="FEE-3D" href="/m/don-dau-tien-mien-phi"><span class="qyt-aY">Tặng đến
                    400K</span></a><a class="FEE-3D" href="/m/gi-cung-re-freeship"><span class="qyt-aY">Gì cũng
                    rẻ</span></a><a class="FEE-3D" href="/m/ma-giam-gia"><span class="qyt-aY">Mã giảm giá</span></a><a
                  class="FEE-3D" href="/m/mien-phi-van-chuyen"><span class="qyt-aY">Miễn phí vận chuyển</span></a></div>
            </div>
          </div>
          <div class="stardust-dropdown">
            <div class="stardust-dropdown__item-header"><a class="L1U02e" href="/m/4-4">
                <div class="bfikuD"><img
                    src="https://down-vn.img.susercontent.com/file/sg-11134004-23030-p4oek1xcnvovf4">
                </div>
                <div class="DlL0zX"><span class="adF7Xs">4.4 Sale Thời Trang Mỹ Phẩm</span><span class="_7udlQ7"><svg
                      width="32" height="18" viewBox="0 0 32 18" fill="none">
                      <path
                        d="M1 9C1 4.58172 4.58172 1 9 1H23C27.4183 1 31 4.58172 31 9C31 13.4183 27.4183 17 23 17H1V9Z"
                        fill="#EE4D2D"></path>
                      <path
                        d="M12.4111 12H11.1758L8.00684 6.95605V12H6.77148V4.89062H8.00684L11.1855 9.9541V4.89062H12.4111V12ZM16.083 12.0977C15.3311 12.0977 14.7207 11.8617 14.252 11.3896C13.7865 10.9144 13.5537 10.2829 13.5537 9.49512V9.34863C13.5537 8.82129 13.6546 8.35091 13.8564 7.9375C14.0615 7.52083 14.348 7.19694 14.7158 6.96582C15.0837 6.7347 15.4938 6.61914 15.9463 6.61914C16.6657 6.61914 17.2207 6.84863 17.6113 7.30762C18.0052 7.7666 18.2021 8.41602 18.2021 9.25586V9.73438H14.75C14.7858 10.1706 14.9307 10.5156 15.1846 10.7695C15.4417 11.0234 15.764 11.1504 16.1514 11.1504C16.695 11.1504 17.1377 10.9307 17.4795 10.4912L18.1191 11.1016C17.9076 11.4173 17.6243 11.6631 17.2695 11.8389C16.918 12.0114 16.5225 12.0977 16.083 12.0977ZM15.9414 7.57129C15.6159 7.57129 15.3522 7.68522 15.1504 7.91309C14.9518 8.14095 14.8249 8.45833 14.7695 8.86523H17.0303V8.77734C17.0042 8.38021 16.8984 8.08073 16.7129 7.87891C16.5273 7.67383 16.2702 7.57129 15.9414 7.57129ZM23.7686 10.3643L24.6084 6.7168H25.7656L24.3252 12H23.3486L22.2158 8.37207L21.1025 12H20.126L18.6807 6.7168H19.8379L20.6924 10.3252L21.7764 6.7168H22.6699L23.7686 10.3643Z"
                        fill="white"></path>
                      <path
                        d="M1 17H0V18H1V17ZM9 2H23V0H9V2ZM23 16H1V18H23V16ZM2 17V9H0V17H2ZM30 9C30 12.866 26.866 16 23 16V18C27.9706 18 32 13.9706 32 9H30ZM23 2C26.866 2 30 5.13401 30 9H32C32 4.02944 27.9706 0 23 0V2ZM9 0C4.02944 0 0 4.02944 0 9H2C2 5.13401 5.13401 2 9 2V0Z"
                        fill="white"></path>
                    </svg></span></div>
              </a></div>
            <div class="stardust-dropdown__item-body">
              <div class="Yu7gVR"><a class="FEE-3D" href="/m/4-4"><span class="qyt-aY">Trang chính</span></a><a
                  class="FEE-3D" href="/m/khung-gio-san-sale"><span class="qyt-aY">Khung giờ săn sale</span></a><a
                  class="FEE-3D" href="/m/ma-giam-gia"><span class="qyt-aY">Mã giảm giá</span></a><a class="FEE-3D"
                  href="/ThoiTrangSieuSale"><span class="qyt-aY">Siêu Hội Thời Trang</span></a></div>
            </div>
          </div>
          <div class="stardust-dropdown stardust-dropdown--open">
            <div class="stardust-dropdown__item-header"><a class="L1U02e" href="/user/account/profile">
                <div class="bfikuD"><img
                    src="https://down-vn.img.susercontent.com/file/ba61750a46794d8847c3f463c5e71cc4">
                </div>
                <div class="DlL0zX"><span class="adF7Xs">Tài khoản của tôi</span></div>
              </a></div>
            <div class="stardust-dropdown__item-body stardust-dropdown__item-body--open" style="opacity: 1;">
              <div class="Yu7gVR"><a class="FEE-3D tH0d6d" href="/user/account/profile"><span class="qyt-aY">Hồ
                    sơ</span></a><a class="FEE-3D" href="/user/account/payment"><span class="qyt-aY">Ngân
                    hàng</span></a><a class="FEE-3D" href="/user/account/address"><span class="qyt-aY">Địa
                    chỉ</span></a><a class="FEE-3D" href="/user/account/password"><span class="qyt-aY">Đổi mật
                    khẩu</span></a></div>
            </div>
          </div>
          <div class="stardust-dropdown">
            <div class="stardust-dropdown__item-header"><a class="L1U02e" href="/user/purchase">
                <div class="bfikuD"><img
                    src="https://down-vn.img.susercontent.com/file/f0049e9df4e536bc3e7f140d071e9078">
                </div>
                <div class="DlL0zX"><span class="adF7Xs">Đơn Mua</span></div>
              </a></div>
            <div class="stardust-dropdown__item-body">
              <div class="Yu7gVR"></div>
            </div>
          </div>
          <div class="stardust-dropdown">
            <div class="stardust-dropdown__item-header"><a class="L1U02e" href="/user/notifications/order">
                <div class="bfikuD"><img
                    src="https://down-vn.img.susercontent.com/file/e10a43b53ec8605f4829da5618e0717c">
                </div>
                <div class="DlL0zX"><span class="adF7Xs">Thông báo</span></div>
              </a></div>
            <div class="stardust-dropdown__item-body">
              <div class="Yu7gVR"><a class="FEE-3D" href="/user/notifications/order"><span class="qyt-aY">Cập nhật đơn
                    hàng</span></a><a class="FEE-3D" href="/user/notifications/promotion"><span class="qyt-aY">Khuyến
                    mãi</span></a><a class="FEE-3D" href="/user/notifications/wallet"><span class="qyt-aY">Cập nhật
                    Ví</span></a><a class="FEE-3D" href="/user/notifications/activity"><span class="qyt-aY">Hoạt
                    động</span></a><a class="FEE-3D" href="/user/notifications/rating"><span class="qyt-aY">Cập nhật
                    đánh
                    giá</span></a><a class="FEE-3D" href="/user/notifications/shopee"><span class="qyt-aY">Cập nhật
                    Shopee</span></a></div>
            </div>
          </div>
          <div class="stardust-dropdown">
            <div class="stardust-dropdown__item-header"><a class="L1U02e" href="/user/voucher-wallet">
                <div class="bfikuD"><img
                    src="https://down-vn.img.susercontent.com/file/84feaa363ce325071c0a66d3c9a88748">
                </div>
                <div class="DlL0zX"><span class="adF7Xs">Kho Voucher</span></div>
              </a></div>
            <div class="stardust-dropdown__item-body" style="opacity: 0;">
              <div class="Yu7gVR"></div>
            </div>
          </div>
          <div class="stardust-dropdown">
            <div class="stardust-dropdown__item-header"><a class="L1U02e" href="/user/coin">
                <div class="bfikuD"><img
                    src="https://down-vn.img.susercontent.com/file/a0ef4bd8e16e481b4253bd0eb563f784">
                </div>
                <div class="DlL0zX"><span class="adF7Xs">Shopee Xu</span></div>
              </a></div>
            <div class="stardust-dropdown__item-body">
              <div class="Yu7gVR"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="xMDeox">
        <div class="Hvae38" role="main">
          <div style="display: contents;">
            <div class="b7wtmP">
              <div class="_66hYBa">
                <h1 class="SbCTde">Hồ sơ của tôi</h1>
                <div class="zptdmA">Quản lý thông tin hồ sơ để bảo mật tài khoản</div>
              </div>
              <div class="R-Gpdg">
                <div class="volt8A">
                  <form>
                    <table class="Zj7UK+">
                      <tr>
                        <td class="espR83 qQTY0O"><label>Tên đăng nhập</label></td>
                        <td class="Tmj5Z6">
                          <div>
                            <div class="W50dp5"><input type="text" placeholder="" class="CMyrTJ" value="luntrng263">
                            </div>
                            <div class="bp2tsO">Tên Đăng nhập chỉ có thể thay đổi một lần.</div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="espR83"><label>Tên</label></td>
                        <td class="Tmj5Z6">
                          <div>
                            <div class="W50dp5"><input type="text" placeholder="" class="CMyrTJ" value=""></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="espR83"><label>Email</label></td>
                        <td class="Tmj5Z6">
                          <div class="_0ZgK9X">
                            <div class="uxYEXm">pu*******@gmail.com</div><button class="DJRxAF">Thay đổi</button>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="espR83"><label>Số điện thoại</label></td>
                        <td class="Tmj5Z6">
                          <div class="_0ZgK9X">
                            <div class="uxYEXm">*********46</div><button class="DJRxAF">Thay đổi</button>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="espR83"><label>Giới tính</label></td>
                        <td class="Tmj5Z6">
                          <div class="s4eg4A">
                            <div class="stardust-radio-group" role="radiogroup">
                              <div class="stardust-radio" tabindex="0" role="radio" aria-checked="false">
                                <div class="stardust-radio-button">
                                  <div class="stardust-radio-button__outer-circle">
                                    <div class="stardust-radio-button__inner-circle"></div>
                                  </div>
                                </div>
                                <div class="stardust-radio__content">
                                  <div class="stardust-radio__label">Nam</div>
                                </div>
                              </div>
                              <div class="stardust-radio" tabindex="0" role="radio" aria-checked="false">
                                <div class="stardust-radio-button">
                                  <div class="stardust-radio-button__outer-circle">
                                    <div class="stardust-radio-button__inner-circle"></div>
                                  </div>
                                </div>
                                <div class="stardust-radio__content">
                                  <div class="stardust-radio__label">Nữ</div>
                                </div>
                              </div>
                              <div class="stardust-radio" tabindex="0" role="radio" aria-checked="false">
                                <div class="stardust-radio-button">
                                  <div class="stardust-radio-button__outer-circle">
                                    <div class="stardust-radio-button__inner-circle"></div>
                                  </div>
                                </div>
                                <div class="stardust-radio__content">
                                  <div class="stardust-radio__label">Khác</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="espR83"><label>Ngày sinh</label></td>
                        <td class="Tmj5Z6">
                          <div class="ewT4Cd">
                            <div class="shopee-dropdown shopee-dropdown--has-selected">
                              <div class="shopee-dropdown__entry shopee-dropdown__entry--selected"><span>1</span><svg
                                  enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0"
                                  class="shopee-svg-icon icon-arrow-down">
                                  <g>
                                    <path
                                      d="m11 2.5c0 .1 0 .2-.1.3l-5 6c-.1.1-.3.2-.4.2s-.3-.1-.4-.2l-5-6c-.2-.2-.1-.5.1-.7s.5-.1.7.1l4.6 5.5 4.6-5.5c.2-.2.5-.2.7-.1.1.1.2.3.2.4z">
                                    </path>
                                  </g>
                                </svg></div>
                            </div>
                            <div class="shopee-dropdown shopee-dropdown--has-selected">
                              <div class="shopee-dropdown__entry shopee-dropdown__entry--selected"><span>Tháng
                                  1</span><svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0"
                                  class="shopee-svg-icon icon-arrow-down">
                                  <g>
                                    <path
                                      d="m11 2.5c0 .1 0 .2-.1.3l-5 6c-.1.1-.3.2-.4.2s-.3-.1-.4-.2l-5-6c-.2-.2-.1-.5.1-.7s.5-.1.7.1l4.6 5.5 4.6-5.5c.2-.2.5-.2.7-.1.1.1.2.3.2.4z">
                                    </path>
                                  </g>
                                </svg></div>
                            </div>
                            <div class="shopee-dropdown shopee-dropdown--has-selected">
                              <div class="shopee-dropdown__entry shopee-dropdown__entry--selected"><span>1990</span><svg
                                  enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0"
                                  class="shopee-svg-icon icon-arrow-down">
                                  <g>
                                    <path
                                      d="m11 2.5c0 .1 0 .2-.1.3l-5 6c-.1.1-.3.2-.4.2s-.3-.1-.4-.2l-5-6c-.2-.2-.1-.5.1-.7s.5-.1.7.1l4.6 5.5 4.6-5.5c.2-.2.5-.2.7-.1.1.1.2.3.2.4z">
                                    </path>
                                  </g>
                                </svg></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="espR83"><label></label></td>
                        <td class="Tmj5Z6"><button type="button" class="btn btn-solid-primary btn--m btn--inline"
                            aria-disabled="false">Lưu</button></td>
                      </tr>
                    </table>
                  </form>
                </div>
                <div class="IQPHvE">
                  <div class="scvgOW">
                    <div class="XWsmVn">
                      <div class="LoNm4g"
                        style="background-image: url(&quot;https://down-vn.img.susercontent.com/file/98da8a2db550ca78ccaa8ac077f56587&quot;);">
                      </div>
                    </div><input class="bMWDYw" type="file" accept=".jpg,.jpeg,.png"><button type="button"
                      class="btn btn-light btn--m btn--inline">Chọn ảnh</button>
                    <div class="L4SAGB">
                      <div class="SlaeTm">Dụng lượng file tối đa 1 MB</div>
                      <div class="SlaeTm">Định dạng:.JPEG, .PNG</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>